.content-article-all article {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  color: #242424;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease-in;
}

.content-article-all article:hover {
  transition: all .2s ease-in;
  background: #e2e2e2;
}

.content-article-all article .portada {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}

.content-article-all article .content-article-info-main {
  width: 80%;
}

.article-details-info {
  width: 100%;
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 100;
}

.article-details-info img {
  width: 100%;
}

.btn-back {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  background: red;
  z-index: 1000;
  border-radius: 5px;
  border: none;
}

.content-info-article {
  padding: 20px;
}

.content-info-article p {
  padding: 10px 0px;
}

.btn-paginacion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-paginacion button {
  margin: 10px 5px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #bbbbbb;
  background: none;
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
  transition: all .3s ease-in;
  color: #242424;
}

.btn-paginacion button:hover {
  transition: all .3s ease-in;
  background: #3991e3;
  color: white;
  border: 2px solid #3991e3;
}

.title-paginacion {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.content-code {
  background: #bbbbbb;
  border-radius: 10px;
  padding: 10px;
  color: #282828;
  font-size: 1.2em;
}