.header-navbar {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar nav {
    padding: 5px;
}

.header-navbar .list-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.header-navbar .links {
    margin: 10px;
    text-decoration: none;
    color: #242424;
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 600;
}

.content-logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-logo-header img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}