.header-navbar {
    width: 100%;
    padding: 10px;
    background: #dfdfdf;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.header-navbar nav {
    padding: 5px;
}

.header-navbar .list-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.header-navbar .links {
    margin: 10px;
    text-decoration: none;
    color: #242424;
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 600;
}

.header-navbar .links:hover {
    text-decoration: underline;
    color: rgba(31, 203, 255, 0.969);
}
